<!-- Header -->
<mat-toolbar
  color="primary"
  style="display: flex; justify-content: space-between; align-items: center"
>
  <span>Kapo!</span>

  <button
    style="
      position: relative;
      min-width: 300px;
      min-height: 40px;
      border: 1px solid #808080;
      border-radius: 4px;
      background: #fff;
      color: #6e6e6e;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      padding: 10px;
      cursor: pointer;
    "
  >
    Enter kapo title...
    <span
      style="
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #f2f2f2;
        border: none;
        color: #333333;
        font-size: 14px;
        font-weight: 700;
        width: 80px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
      "
    >
      Settings
    </span>
  </button>

  <div style="display: flex; align-items: center">
    <button mat-raised-button style="margin-right: 10px" color="accent">
      <mat-icon>palette_outline</mat-icon>
      Themes
    </button>
    <button mat-raised-button style="margin-right: 10px">
      <mat-icon>remove_red_eye_outline</mat-icon>
      Preview
    </button>
    <div
      style="border-left: 1px solid #000; height: 30px; margin: 0 10px 0 0"
    ></div>
    <button mat-raised-button style="margin-right: 10px">Exit</button>
    <button
      mat-raised-button
      color="warn"
      (click)="openValidationErrorDialog()"
    >
      Save
    </button>
  </div>
</mat-toolbar>

<div class="container" style="display: flex; height: calc(100vh - 64px)">
  <!-- Left Sidebar -->
  <div class="left-sidebar">
    <mat-list appScrollable style="padding: 0px; overflow: auto; flex-grow: 1">
      <mat-list-item
        appOffsetTop
        *ngFor="let item of kapoItems; index as i"
        style="height: 130px; padding: 0px; padding-bottom: 15px"
        [class.selected]="item.id === selectedKapo.id"
        (click)="selectQuiz(i)"
      >
        <div
          class="item-container"
          style="display: flex; flex-direction: row; height: 130px"
        >
          <div
            class="icon-buttons"
            style="flex: none; align-self: flex-end; width: 20px"
          >
            <button
              mat-icon-button
              (click)="duplicateKapo(selectedKapo, i, $event)"
              style="
                width: 25px;
                height: 25px;
                padding: 0px;
                margin-bottom: 10px;
              "
              *ngIf="item.id === selectedKapo?.id"
            >
              <mat-icon
                style="
                  font-size: 15px;
                  line-height: 15px;
                  margin: 0px;
                  vertical-align: middle;
                  text-align: center;
                "
                >content_copy</mat-icon
              >
            </button>
            <button
              mat-icon-button
              style="width: 25px; height: 25px; padding: 0px"
              *ngIf="item.id === selectedKapo?.id"
              (click)="deleteKapo(i)"
            >
              <mat-icon
                class="material-icons-outlined"
                style="
                  font-size: 15px;
                  line-height: 15px;
                  margin: 0px;
                  vertical-align: middle;
                  text-align: center;
                "
                >delete</mat-icon
              >
            </button>
          </div>
          <div
            class="item-content"
            style="
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              margin-right: 10px;
            "
          >
            <div class="item-header" style="flex: none; margin-top: 5px">
              <span
                style="
                  font-size: 12px;
                  margin-right: 5px;
                  margin-left: 5px;
                  font-weight: 700;
                "
                [style.color]="
                  item.id === selectedKapo.id ? '#333333' : '#6E6E6E'
                "
                >{{ i + 1 }}</span
              >
              <span
                style="font-size: 12px; font-weight: 700"
                [style.color]="
                  item.id === selectedKapo.id ? '#333333' : '#6E6E6E'
                "
                >{{ getTypeName(item) }}</span
              >
            </div>
            <ng-container *ngIf="isInstanceOfQuiz(item)">
              <app-quiz-structure-preview
                [title]="item.title"
                [selected]="selectedKapo.id === item.id"
                [imgUrl]="$any(item).imgUrl"
                [timeLimit]="$any(item).timeLimit"
              ></app-quiz-structure-preview>
            </ng-container>

            <ng-container *ngIf="isInstanceOfSlide(item)">
              <app-slide-structure-preview
                [title]="item.title"
                [selected]="selectedKapo.id === item.id"
                [imgUrl]="
                  $any(item).imgUrl ?? '../../../assets/image-place-holder.png'
                "
                [content]="$any(item).content ?? 'Text'"
              ></app-slide-structure-preview>
            </ng-container>

            <ng-container *ngIf="isInstanceOfTrueFalseQuiz(item)">
              <app-true-false-quiz-preview
                [title]="item.title"
                [selected]="selectedKapo.id === item.id"
                [imgUrl]="
                  $any(item).imgUrl ?? '../../../assets/image-place-holder.png'
                "
                [timeLimit]="$any(item).timeLimit"
              ></app-true-false-quiz-preview>
            </ng-container>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
    <div
      style="
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <button
        mat-raised-button
        color="primary"
        style="width: 135px"
        (click)="openAddQuestionDialog()"
      >
        Add question
      </button>
      <button
        mat-raised-button
        style="margin: 10px; margin-bottom: 0px; width: 135px"
        (click)="scrollToBottom()"
      >
        Add slide
      </button>
    </div>
  </div>

  <!-- Main Content -->
  <div
    class="main-content"
    style="
      flex-grow: 1;
      overflow: auto;
      background-image: url('../../assets/beach.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    "
  >
    <!-- Main content goes here -->
    <div
      class="main-content"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
      "
    >
      <!-- First row -->
      <div
        style="
          width: calc(80% - 20px);
          margin: 30px 0px 20px 0px;
          position: relative;
          border-radius: 0.25rem;
        "
        [style.height]="greyContainerHeight"
      >
        <div
          style="
            width: 100%;
            background-color: #d9d9d9;
            position: absolute;
            top: 0;
            border-radius: 0.25rem;
            min-height: 57px;
            min-width: 400px;
          "
          [style.height]="greyContainerHeight"
        ></div>
        <textarea
          id="question"
          name="question"
          [(ngModel)]="selectedKapo.title"
          maxlength="120"
          style="
            min-width: 400px;
            width: 100%;
            height: 52px;
            word-wrap: break-word;
            box-sizing: border-box;
            border: none;
            resize: none;
            font-size: 19px;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 50px;
            padding-right: 50px;
            outline: none;
            border-radius: 0.25rem;
            position: absolute;
          "
          (input)="onTitleChange($event)"
          (click)="displayCounter = true"
          (blur)="blurOnQuestion()"
          (focus)="placeholder = ''"
          (keydown.enter)="preventEnter($event)"
          [placeholder]="placeholder"
        ></textarea>
        <div
          id="countdown"
          *ngIf="displayCounter"
          style="position: absolute; top: 5px; right: 5px; color: #6e6e6e"
        >
          {{ remainingCharacter }}
        </div>
      </div>

      <!-- Second row -->
      <div class="row" style="margin-bottom: 20px">
        <div
          class="media-container"
          *ngIf="selectedKapo.media === ''; else imageTemplate"
        >
          <span
            class="media-text"
            style="color: #000; font-size: 20px; margin-top: 5vh"
            >Attach media file</span
          >
          <input
            type="file"
            accept="image/*"
            #fileInput
            style="display: none"
            (change)="onFileSelected($event)"
          />

          <button
            mat-raised-button
            class="media-button"
            style="height: 48px; width: 48px; min-width: 48px; margin-top: 2vh"
            (click)="fileInput.click()"
          >
            <i class="material-icons" style="font-size: 30px">add</i>
          </button>
        </div>

        <ng-template #imageTemplate>
          <div style="position: relative; width: 20vw; height: 30vh">
            <img
              [src]="selectedKapo.media"
              style="width: 100%; height: 100%; border-radius: 4px"
            />
            <button
              (click)="deleteImage()"
              style="
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background: white;
                border: none;
                border-radius: 4px;
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                cursor: pointer;
              "
            >
              <i class="material-icons-outlined" style="font-size: 20px">delete</i>
            </button>
          </div>
        </ng-template>
      </div>

      <!-- Third row -->
      <div
        *ngIf="isInstanceOfQuiz(selectedKapo)"
        style="
          display: flex;
          flex-direction: column;
          margin-bottom: 50px;
          width: calc(100% - 32px);
          height: 40vh;
        "
      >
        <div
          style="
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            flex-grow: 1;
          "
        >
          <div style="flex: 1; margin-right: 10px; position: relative">
            <app-answer
              [index]="0"
              [kapo]="selectedKapo"
              (onAnswerValueChange)="$any(selectedKapo).answers[0] = $event"
              (onAnswerCorrectnessToggle)="
                $any(selectedKapo).correctAnswers[0] = $event
              "
            ></app-answer>
          </div>
          <div style="flex: 1; margin-right: 10px; position: relative">
            <app-answer
              [index]="1"
              [kapo]="selectedKapo"
              (onAnswerValueChange)="$any(selectedKapo).answers[1] = $event"
              (onAnswerCorrectnessToggle)="
                $any(selectedKapo).correctAnswers[1] = $event
              "
            ></app-answer>
          </div>
        </div>

        <div
          style="display: flex; justify-content: space-between; flex-grow: 1"
        >
          <div style="flex: 1; margin-right: 10px; position: relative">
            <app-answer
              [index]="2"
              [kapo]="selectedKapo"
              (onAnswerValueChange)="$any(selectedKapo).answers[2] = $event"
              (onAnswerCorrectnessToggle)="
                $any(selectedKapo).correctAnswers[2] = $event
              "
            ></app-answer>
          </div>
          <div style="flex: 1; margin-right: 10px; position: relative">
            <app-answer
              [index]="3"
              [kapo]="selectedKapo"
              (onAnswerValueChange)="$any(selectedKapo).answers[3] = $event"
              (onAnswerCorrectnessToggle)="
                $any(selectedKapo).correctAnswers[3] = $event
              "
            ></app-answer>
          </div>
        </div>
      </div>

      <div
        *ngIf="isInstanceOfTrueFalseQuiz(selectedKapo)"
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 10px;
          width: calc(100% - 32px);
          height: 20vh;
        "
      >
        <div style="display: flex; flex-grow: 1">
          <div style="flex: 1; margin-right: 10px; position: relative">
            <app-tof-answer
              [trueOrFalse]="true"
              [kapo]="selectedKapo"
              (onAnswerChange)="handleAnswerChange($event)"
            ></app-tof-answer>
          </div>
          <div style="flex: 1; margin-right: 10px; position: relative">
            <app-tof-answer
              [trueOrFalse]="false"
              [kapo]="selectedKapo"
              (onAnswerChange)="handleAnswerChange($event)"
            ></app-tof-answer>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Sidebar -->
  <div
    class="sidebar"
    style="
      width: 22%;
      height: calc(100vh - 64px);
      border-left: 1px solid #ddd;
      position: relative;
    "
    [ngStyle]="{ width: sidebarOpen ? '300px' : '0px' }"
  >
    <button
      mat-mini-fab
      color="primary"
      style="
        position: absolute;
        left: -30px;
        top: calc(calc(100vh - 64px) / 2 - 24px);
        padding: 0px;
        margin: 0px;
        min-width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      "
      (click)="toggleSidebar()"
      [ngStyle]="{
        transform: sidebarOpen ? 'rotate(0deg)' : 'rotate(-180deg)'
      }"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
    <!-- Right Sidebar content goes here -->
    <div
      *ngIf="sidebarOpen && !sidebarAnimating"
      style="
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* changed from space-between */
        height: calc(100% - 44px);
        padding: 20px;
        padding-bottom: 10px;
      "
      class="sidebar"
    >
      <!-- Scrollable container -->
      <div style="overflow-y: auto; flex-grow: 1">
        <div style="display: flex; align-items: center; margin-bottom: 10px">
          <mat-icon class="material-icons-outlined" style="margin-right: 5px"
            >live_help_outlined</mat-icon
          >
          Question type
        </div>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Question type</mat-label>
          <mat-select [value]="questionType">
            <mat-option value="quiz">Quiz</mat-option>
            <mat-option value="true-or-false">True or false</mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="isInstanceOfQuiz(selectedKapo)">
          <app-quiz-field
            [timeLimit]="$any(selectedKapo).timeLimit.toString()"
            [points]="$any(selectedKapo).points"
            [answerOptions]="$any(selectedKapo).answerOptions"
            (timeLimitChange)="$any(selectedKapo).timeLimit = $event"
            (pointsChange)="$any(selectedKapo).points = $event"
            (answerOptionsChange)="$any(selectedKapo).answerOptions = $event"
          ></app-quiz-field>
        </div>

        <div *ngIf="isInstanceOfTrueFalseQuiz(selectedKapo)">
          <app-true-fasle-quiz-field
            [timeLimit]="$any(selectedKapo).timeLimit.toString()"
            [points]="$any(selectedKapo).points"
            (timeLimitChange)="$any(selectedKapo).timeLimit = $event"
            (pointsChange)="$any(selectedKapo).points = $event"
          ></app-true-fasle-quiz-field>
        </div>
        <!-- Add more fields here -->
      </div>

      <div style="display: flex; justify-content: space-between; width: 100%">
        <button mat-raised-button color="accent" style="min-width: 102.29px">
          Delete
        </button>
        <button mat-raised-button color="primary">Duplicate</button>
      </div>
    </div>
  </div>
</div>
