.button-container {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
  }
  
  .button-container:hover {
    background-color: #CCCCCC;
  }
  
  .button-content {
    display: flex;
    align-items: center;
  }
  
  .button-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }