<div
  style="
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
    margin-bottom: 0px;
  "
>
  <mat-tab-group (selectedTabChange)="changeSelectType($event)" style="margin-bottom: 22px">
    <mat-tab label="Recent"></mat-tab>
    <mat-tab label="Drafts"></mat-tab>
    <mat-tab label="Favorites"></mat-tab>
  </mat-tab-group>

  <mat-form-field appearance="outline" style="margin-left: 10px; width: 300px">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      placeholder="Search"
      [(ngModel)]="templateSearchText"
      (ngModelChange)="searchTemplates()"
    />
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearch()"
      *ngIf="templateSearchText"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div style="flex: 1"></div>

  <mat-tab-group
    (selectedTabChange)="changeViewMode($event)"
    style="margin-bottom: 22px"
  >
    <mat-tab class="icon-tab">
      <ng-template mat-tab-label>
        <mat-icon class="material-icons-outlined" matTooltip="Default View"
          >view_module</mat-icon
        >
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="material-icons-outlined" matTooltip="Compact View"
          >view_list</mat-icon
        >
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- List View -->
<div style="margin: 10px; margin-top: 0px; margin-bottom: 90px">
  <mat-card
    *ngFor="let template of filteredTemplates"
    style="padding: 0px; margin-bottom: 10px"
    (click)="navigateToTemplate(template.id)"
  >
    <mat-card-content style="padding: 5px; cursor: pointer;">
      <!-- Default View -->
      <div
        *ngIf="viewMode === ViewMode.Default"
        style="display: flex;"
      >
        <img
          style="height: 140px; width: 200px; object-fit: cover"
          [src]="template.cover"
        />
        <div
          style="
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 20px;
          "
        >
          <p
            style="
              margin: 0px;
              margin-top: 10px;
              font-weight: 700;
              font-size: 16px;
            "
          >
            {{ template.title }}
          </p>
          <div style="display: flex; align-items: center">
            <img
              [src]="template.creator.avatar"
              (error)="
                template.creator.avatar =
                  'https://i.pinimg.com/1200x/bf/e2/2d/bfe22d559d674fdbff92aae729a3b54b.jpg'
              "
              style="
                border-radius: 50%;
                width: 40px;
                height: 40px;
                margin-right: 10px;
              "
            />
            <p style="margin: 0px; margin-left: 5px; color: #6e6e6e">
              {{ template.creator.username }}
            </p>
          </div>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div style="display: flex; align-items: center; justify-content: end">
            <button mat-icon-button (click)="navigateToQuiz($event, template.id.toString())">
              <mat-icon class="material-icons-outlined">mode_edit_outlined</mat-icon>
            </button>
            <button (click)="deleteTemplate($event, template.id)" mat-icon-button>
              <mat-icon>delete_outlined</mat-icon>
            </button>
          </div>
          <div style="display: flex; align-items: center">
            <p
              style="
                color: #6e6e6e;
                font-weight: 700;
                margin: 0px;
                margin-right: 20px;
              "
            >
              {{ template.gameCount }} plays
            </p>
            <button mat-raised-button color="primary">Start</button>
          </div>
        </div>
      </div>

      <!-- Compact View -->
      <div
        *ngIf="viewMode === ViewMode.Compact"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <p style="flex: 1; margin: 0px; font-weight: 700; margin-left: 20px">
          {{ template.title }}
        </p>
        <img
          [src]="template.creator.avatar"
          (error)="
            template.creator.avatar =
              'https://i.pinimg.com/1200x/bf/e2/2d/bfe22d559d674fdbff92aae729a3b54b.jpg'
          "
          style="
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 10px;
          "
        />
        <p style="margin: 0px; margin-right: 20px">
          {{ template.creator.username }}
        </p>
        <button mat-raised-button style="margin-right: 10px" color="primary">
          Start
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">edit_oulined</mat-icon>
        </button>
        <button mat-icon-button style="margin-right: 10px">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
