.grey-icon {
    color: grey;
    transform: scale(1.2);
}

.upscale-icon {
    transform: scale(1.5);
}

.check-button {
    transition: transform 0.3s;
    border-radius: 50%;
    border: 4px solid white;
    background-color: transparent;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 50px;
    transform: translateY(-50%);
}

.check-button:hover {
    transform: translateY(-50%) scale(1.1);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
}

.rhombus {
    width: 20px;
    height: 20px;
    background: white;
    transform: rotate(45deg);
}

.circle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
}

.square {
    width: 20px;
    height: 20px;
    background: white;
}

.pentagon {
    position: relative;
    width: 20px;
    height: 17.3px;
    background: white;
}

.pentagon:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 7.1px solid white;
    top: -7.1px;
    left: 0;
}

.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 7px solid white;
    border-left: 10px solid transparent;
    transform: rotate(35deg);
}

.star:before {
    border-bottom: 8px solid white;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: relative;
    height: 0;
    width: 0;
    top: -5px;
    left: -6px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

.star:after {
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 7px solid white;
    border-left: 10px solid transparent;
    top: -4px;
    left: -10px;
    transform: rotate(-70deg);
    content: '';
}