<div
  style="height: 100%; border-radius: 4px"
  [style.backgroundColor]="emptyContent ? '#d9d9d9' : backgroundColorDark"
>
  <div
    style="
      background-color: white;
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 5px;
      display: flex;
      align-items: center;
      padding: 5px;
    "
    [style.backgroundColor]="emptyContent ? 'white' : backgroundColor"
  >
    <!-- Rectangle with icon -->
    <div
      style="
        height: 100%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin-right: 5px;
      "
      [style.backgroundColor]="emptyContent ? backgroundColor : 'transparent'"
      [ngSwitch]="index"
    >
      <div *ngSwitchCase="0" class="triangle"></div>
      <div *ngSwitchCase="1" class="rhombus"></div>
      <div *ngSwitchCase="2" class="circle"></div>
      <div *ngSwitchCase="3" class="square"></div>
      <div *ngSwitchCase="4" class="pentagon"></div>
      <div *ngSwitchCase="5" class="star"></div>
    </div>

    <!-- Textarea -->
    <textarea
      id="myTextarea"
      [(ngModel)]="answer"
      [disabled]="isTextareaDisabled"
      style="
        flex-grow: 1;
        word-wrap: break-word;
        padding: 8px;
        box-sizing: border-box;
        overflow-y: hidden;
        font-size: 16px;
        line-height: 20px;
        height: 40px;
        outline: none;
        border: none;
        resize: none;
        color: white;
      "
      [placeholder]="answerPlaceholder"
      maxlength="95"
      (input)="onChangeTextarea($event)"
      #userInputTextarea
      (focus)="onTextareaFocus()"
      (blur)="onTextareaBlur()"
      [style.backgroundColor]="emptyContent ? 'white' : backgroundColor"
      [style.caret-color]="emptyContent ? 'black' : 'white'"
    ></textarea>

    <!-- Character count -->
    <div
      *ngIf="isTextareaFocused"
      style="
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 14px;
        color: white;
      "
    >
      {{ remainingCharacters }}
    </div>

    <!-- Add image icon -->
    <div
      *ngIf="emptyContent && !isTextareaFocused"
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
      "
    >
      <mat-icon
        class="grey-icon material-icons-outlined"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="image"
      ></mat-icon>
    </div>

    <!-- Check button -->
    <button
      class="check-button"
      *ngIf="!emptyContent"
      [@changeBgColor]="isChecked ? 'checked' : 'unchecked'"
      [style.backgroundColor]="isChecked ? '#66bf39' : 'transparent'"
      (mouseenter)="showCheckIcon = true"
      (mouseleave)="showCheckIcon = false"
      (click)="toggleButton()"
    >
      <img
        class="upscale-icon"
        *ngIf="showCheckIcon || isChecked"
        src="../../../assets/check-icon.svg"
        alt="check icon"
        height="32px"
        width="32px"
      />
    </button>
  </div>
</div>
