<div
  style="
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    
  "
  (click)="toggleCollapse()"
>
  <div style="display: flex; height: 80px">
    <div style="
    flex: 1; 
    padding: 10px;
    ">
      <p style="color: #6e6e6e; font-weight: 500"> {{index}} - {{kapoType}} </p>
      <p style="font-weight: 700"> {{question.content}} </p>
    </div>
    <img
      [src]="question.image"
      style="width: 150px; height: 80px;"
    />
  </div>
  <div style="flex: 1" *ngIf="!isCollapsed">
    <div
      *ngFor="let choice of choices; let i = index"
      style="display: flex; align-items: center; justify-content: space-between; padding: 15px; border-top: 0.666667px solid rgb(242, 242, 242);"
    >
      <div style="display: flex">
        <app-shape [index]="i"></app-shape>
        <p style="margin-left: 20px;">{{ choices[i].content }}</p>
      </div>
      <mat-icon *ngIf="choices[i].isCorrect" class="green-icon">check</mat-icon>
      <mat-icon *ngIf="!choices[i].isCorrect" class="red-icon">close</mat-icon>
    </div>
  </div>
</div>
