<!-- Red Triangle -->
<div
  *ngIf="index === 0"
  style="
    background-color: red;
    width: 24px;
    height: 24px;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  "
>
  <div
    style="
      width: 18px;
      height: 16px;
      background-color: white;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    "
  ></div>
</div>

<!-- Blue Rhombus -->
<div
  *ngIf="index === 1"
  style="
    background-color: #1368ce;
    width: 24px;
    height: 24px;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  "
>
  <div
    style="
      width: 16px;
      height: 16px;
      background-color: white;
      clip-path: polygon(
        50% 0%,
        0% 50%,
        50% 100%,
        100% 50%
      );
    "
  ></div>
</div>

<!-- Yellow Circle -->
<div
  *ngIf="index === 2"
  style="
    background-color: #d89e00;
    width: 24px;
    height: 24px;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  "
>
  <div
    style="
      width: 16px;
      height: 16px;
      background-color: white;
      border-radius: 50%;
    "
  ></div>
</div>

<!-- Green Square -->
<div
  *ngIf="index === 3"
  style="
    background-color: #26890c;
    width: 24px;
    height: 24px;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  "
>
  <div
    style="
      width: 14px;
      height: 14px;
      background-color: white;
    "
  ></div>
</div>
