<div style="display: flex">
  <div style="display: flex; flex-direction: column; width: 400px">
    <img
      src="https://wallpapersmug.com/download/1024x768/db1982/vegeta-artwork.jpg"
      style="width: 100%"
    />
    <p style="font-size: 24px; font-weight: 700; margin: 10px">Kapo của tao</p>
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <p
        style="margin: 0px; margin-left: 10px; font-size: 12px; color: #737373"
      >
        8 players
      </p>
      <div>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined">edit_outlined</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined"
            >star_border_outlined</mat-icon
          >
        </button>
        <button mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
    <div
      style="
        display: flex;
        justify-content: space-around;
        padding: 0px 10px 0px 10px;
      "
    >
      <button mat-raised-button color="primary" style="flex: 1">Start</button>
      <div style="width: 10px"></div>
      <button mat-raised-button style="flex: 1">Assign</button>
      <div style="width: 10px"></div>
      <button mat-raised-button style="flex: 1">Play solo</button>
    </div>
    <p style="margin: 10px; font-weight: 500; color: #6e6e6e">Đây là tiêu đề</p>
    <div style="display: flex; align-items: center">
      <img
        src="https://wallpapersmug.com/download/1024x768/db1982/vegeta-artwork.jpg"
        style="border-radius: 50%; width: 35px; height: 35px; margin: 10px"
      />
      <p style="margin: 0px; font-size: 12px; font-weight: 700">DuongBK</p>
    </div>
  </div>
  <div style="flex: 1; padding: 20px">
    <div style="display: flex; justify-content: space-between">
      <p style="font-size: 16px; font-weight: 700">Questions (9)</p>
      <p style="font-weight: 700; text-decoration: underline; cursor: pointer">Show answers</p>
    </div>
    <app-question></app-question>
    <app-question></app-question>
    <app-question></app-question>
  </div>
</div>
