<mat-toolbar
  color="primary"
  style="display: flex; justify-content: space-between; align-items: center"
>
  <span>Kapo!</span>

  <div style="position: relative; min-width: 300px">
    <input
      type="text"
      placeholder="Search anything else include your crush"
      style="padding-left: 10px; width: 100%; min-height: 40px; outline: none"
    />
  </div>

  <div style="display: flex; align-items: center">
    <button
      mat-raised-button
      color="accent"
      style="margin-right: 20px"
      (click)="navigateToQuiz()"
    >
      Create
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Option 1</button>
</mat-menu>

<mat-sidenav-container style="height: calc(100vh - 64px)">
  <mat-sidenav mode="side" opened style="width: 80px">
    <mat-nav-list style="padding: 8px">
      <a
        *ngFor="let item of navItems; let i = index"
        mat-list-item
        (click)="item.clickHandler()"
        [ngStyle]="{
          'background-color': clickedItemIndex === i ? '#add8e6' : 'white'
        }"
        style="
          border-radius: 4px;
          padding: 0;
          height: 100%;
          margin-bottom: 10px;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            height: 100%;
          "
        >
          <mat-icon matListIcon class="material-icons-outlined">{{
            item.icon
          }}</mat-icon>
          <p matLine style="margin: 0; font-size: 0.625rem">{{ item.text }}</p>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="overflow: auto">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
