<mat-toolbar
  color="primary"
  style="display: flex; justify-content: space-between; align-items: center"
>
  <a
    routerLink="/"
    style="cursor: pointer; text-decoration: none; color: inherit"
    ><span>Kapo!</span></a
  >

  <div style="position: relative; min-width: 300px">
    <input
      type="text"
      placeholder="Search anything else include your crush"
      style="padding-left: 10px; width: 100%; min-height: 40px; outline: none"
    />
  </div>

  <div style="display: flex; align-items: center">
    <button
      mat-raised-button
      color="accent"
      style="margin-right: 20px"
      (click)="navigateToQuiz()"
    >
      Create
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logOut()">Log out</button>
</mat-menu>

<mat-sidenav-container style="height: calc(100vh - 64px)">
  <mat-sidenav mode="side" opened style="width: 80px">
    <mat-nav-list style="padding: 8px">
      <a
        *ngFor="let item of navItems; let i = index"
        mat-list-item
        (click)="item.clickHandler()"
        [ngStyle]="{
          'background-color': clickedItemIndex === i ? '#add8e6' : 'white'
        }"
        style="
          border-radius: 4px;
          padding: 0;
          height: 100%;
          margin-bottom: 10px;
        "
      >
        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            height: 100%;
          "
        >
          <mat-icon matListIcon class="material-icons-outlined">{{
            item.icon
          }}</mat-icon>
          <p matLine style="margin: 0; font-size: 0.625rem">{{ item.text }}</p>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="display: flex; flex-direction: column; height: 100vh; overflow: auto">
    <div *ngIf="router.url === '/home'" style="text-align: center; background-color: #FFF; padding: 20px; flex-grow: 1; display: flex; flex-direction: column;">
      <img src="../../assets/logo.png" alt="Welcome image" style="width: 300px; height: auto; margin: 50px auto 20px;">
      <h1 style="color: #333; font-size: 2rem; margin-top: 50px; margin-bottom: 10px;">Welcome to Kapo</h1>
      <p style="color: #666; margin: 0; font-size: 1rem">
        We are a game learning platform that makes learning fun and engaging.<br>
        With a wide range of games across various subjects, we offer a unique and effective approach to learning.<br>
        Join us and take your learning to the next level.
      </p>
    </div>
    <router-outlet *ngIf="router.url !== '/home'"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
